.About {
    padding: 3em;
    margin-bottom: 3em;
}

.About h2 {
    margin: 0;
    color: var(--darkaccent);
}

.About p {
    float: none;
}

.About img {
    float: right;
    margin: .8em;
}

@media screen and (max-width: 600px) {
    .About img {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
}
