.Header {
    background-color: var(--darkmain);
    min-height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Header h1 {
    font-size: 2em;
    color: var(--whiteaccent);
    margin-left: 30px;
}

@media screen and (max-width: 768px) {
    .Header {
      display: inline-block;
      flex-wrap: wrap;
    } 
}

