:root {
  --darkmain: #043565;
  --lightmain: #208AAE;
  --whiteaccent: #EDF5FC;
  --darkaccent: #109648;
  --lightaccent: #82AC9F;
  --lightaccentalt: #829298;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--whiteaccent);
}

@media screen and (max-width: 768px) {
  .Header {
    display: inline-block;
    flex-wrap: wrap;
  }

}

@media screen and (max-width: 600px) {
  .Header h1, .Navigation{
    margin-left: auto;
    margin-right: auto;

  }
  
  body {
    overflow-x: hidden;
  }

}

@media screen and (max-width: 480px) {


}
