.Navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
    align-items: center;
    margin-right: 30px;
}

.Navigation a {
    color: var(--whiteaccent);
    text-decoration: none;
    font-size: 1.2em;
}

.Navigation a:hover {
    border-bottom: 4px solid var(--lightaccent);
}