.Project {
    width: ;
    height: fit-content;
}

.Project .ProjectContainer {
    border: solid 3px black;
    background-color: var(--lightmain);
    color: var(--whiteaccent);
    width: fit-content;
    max-width: 40%;
    min-width: 360px;
    height: 30%;
    min-height: 200px;
    margin: 3em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 0;
}

.Project .ProjectHeader {
    margin: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    padding: 8px;
}

.Project .ProjectName {
    font-size: 24px;
    margin: 0;
}

.Project .DescriptionContainer {
    width: 75%;
    text-align: center;
    padding: 1em;
    
}

.Project ul {
    margin: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.Project a {
    text-decoration: none;
    color: var(--whiteaccent);
    
}

.Project .ProjectDescription {

}

.Project .Background{
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    margin: 0;
}
