.Project {
    border: solid 3px black;
    width: 40%;
    min-width: 200px;
    height: 30%;
    min-height: 200px;
    margin: 3em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--lightmain);
    color: var(--whiteaccent);
}

.Project a {
    text-decoration: none;
    color: var(--whiteaccent);
}

.Project .ProjectName {
    width: 100%;
    /* background-color: var(--lightaccent); */
    font-size: 24px;
    align-self: flex-start;
    margin: 0;
    margin-left: 5px;
    padding: 5px;
}

